.profile-page {
    background-image: url('https://dkprodimages.gumlet.io/Banner/web%20banner%20remal%20cyclone-01.jpg?format=webp&w=1536&dpr=1.3');
    background-size: cover;
    background-position: 100% 100%;
    min-height: 100vh;
    width: auto;

  }
  